In [1]:
import pandas as pd
import glob
import os
import warnings
warnings.filterwarnings("ignore")


FILE_PATH = os.path.expanduser("~/git/dataport/metadata/electricity_egauge_hours/")
METADATA_PATH = os.path.expanduser("~/git/dataport/metadata/metadata.csv")
# HDF_PATH = os.path.expanduser("~/monthly-12-17.h5")

In [32]:
survey_path_13 = "../metadata/survey_2013_all_participants.csv"
survey_path_14 = "../metadata/survey_2014_all_participants.csv"
survey_path_12 = "../metadata/survey_2012_all_participants.csv"
survey_path_11 = "../metadata/survey_2011_all_participants.csv"

In [33]:
df_13 = pd.read_csv(survey_path_13)
df_14 = pd.read_csv(survey_path_14)
df_12 = pd.read_csv(survey_path_12)
df_11 = pd.read_csv(survey_path_11)

In [37]:
df_11.loc[63]

dataid                                                                              8872
response_id                                                                          128
status                                                                          Complete
primary_residence                                                                    Yes
year_moved                                                                          2008
workday                                                                              Yes
home_working_hours                                                   0-10 hours per week
ethnicity_asian_pacific                                                              NaN
ethnicity_black                                                                      NaN
ethnicity_caucasian                                                            Caucasian
ethnicity_hispanic                                                                   NaN
ethnicity_native_american_alaska                                                     NaN
ethnicity_other                                                                      NaN
ethnicity_decline                                                                    NaN
males                                                                                  1
females                                                                                1
age_under_5                                                                            0
age_6_to_12                                                                            0
age_13_to_18                                                                           0
age_19_to_24                                                                           0
age_25_to_34                                                                           1
age_35_to_49                                                                           1
age_50_to64                                                                            0
age_over_65                                                                            0
highest_education                                                    Postgraduate degree
income_range                                                             $50000 - $74999
house_changes                                                                        Yes
what_house_change                      Added solar panels and replaced some weather s...
audit_house_change                                                                    No
which_audit_house_change                                                             NaN
                                                             ...
breaker_box_breakers                                                                  15
breaker_box_model                                                                unknown
breaker_box_location                                                              Garage
quiz1                                                                               0.85
quiz2                                                                                gas
quiz3                                                                       about 100 kW
quiz4                                                                       Saudi Arabia
quiz5                                                                             20-30%
quiz6                                                                               True
quiz7                                                                               True
quiz8                                                                        150 Gallons
quiz9                                                                 The Colorado River
quiz10                                                             untreated fresh water
electric_car_lease                                                                Owning
electric_car_price                                                       $20000 - $30000
pv_on_roof                                                                           Yes
pv_rebated                                                                           Yes
bayesian_question                                                  Happy that I got $500
more_equipment                                                                        No
park_while_home                                                           Street parking
charger_at_work                                                                      Yes
electric_car_would_be_only_car                                                        No
vehicle_use_commute_to_work                                            Commuting to work
vehicle_use_running_errands_3mi                Running errands in a 3-square-mile radius
vehicle_use_running_errands_10mi              Running errands in a 10-square-mile radius
vehicle_use_over_monthly_20_to_50mi    Frequent trips (more than once per month) rang...
vehicle_use_over_monthly_over_50mi     Frequent trips (more than once per month) exce...
electric_car_options_ok                                                              Yes
id                                                                                  1575
submit_date                                                          2011-11-24 12:43:00
Name: 63, Length: 117, dtype: object

In [4]:
columns = ['dataid', 'year_house_constructed', 'house_num_rooms', 'house_square_feet', 'house_ceiling_height', 
           'ethnicity_asian_pacific_islander', 'ethnicity_black_african_american', 'ethnicity_caucasian_other_than_hispanic_or_latino',
          'ethnicity_hispanic_or_latino', 'ethnicity_native_american_alaska_native', 'ethnicity_other', 'ethnicity_decline',
          'sex_males', 'sex_females', 'residents_under_5', 'residents_6_to_12', 'residents_13_to_18', 'residents_19_to_24', 
           'residents_25_to_34', 'residents_35_to_49', 'residents_50_to_64', 'residents_older_65', 'education_level', 'total_annual_income',
          'ceiling_fans_count']

In [11]:
columns = ['dataid', 'year_house_constructed', 'house_num_rooms', 'house_square_feet', 'house_ceiling_height', 
           'sex_males', 'sex_females', 'residents_under_5', 'residents_6_to_12', 'residents_13_to_18', 'residents_19_to_24', 
           'residents_25_to_34', 'residents_35_to_49', 'residents_50_to_64', 'residents_older_65', 'education_level', 'total_annual_income',
          'ceiling_fans_count']

In [12]:
raw_df_13 = df_13.iloc[:, df_13.columns.isin(columns)]
raw_df_14 = df_14.iloc[:, df_14.columns.isin(columns)]

In [13]:
set_13 = set(raw_df_13[['dataid']].values.reshape(1, -1)[0])
set_14 = set(raw_df_14[['dataid']].values.reshape(1, -1)[0])

In [14]:
import numpy as np
data = np.load("./data-2013-2017-missing.npy").item()

In [15]:
data[2013].keys()

dict_keys([9982, 2818, 1283, 7429, 8967, 1800, 5129, 9701, 6412, 2829, 6673, 5395, 4373, 6423, 26, 6941, 4357, 4641, 4135, 9771, 2094, 1185, 2864, 3635, 7989, 1334, 624, 4154, 9019, 5949, 1601, 5814, 2814, 6990, 1103, 7504, 2129, 6072, 5972, 86, 7769, 9052, 93, 94, 3935, 4193, 5218, 187, 9830, 871, 7016, 1642, 2156, 2158, 7536, 370, 3192, 2171, 2638, 8317, 3967, 3456, 2945, 898, 3719, 9609, 3723, 9356, 9922, 1169, 2755, 8084, 8597, 2199, 3224, 5785, 410, 5275, 3482, 2974, 1953, 2470, 1192, 7850, 3527, 5746, 4526, 3504, 4447, 1718, 7863, 1464, 2233, 7866, 9915, 9919, 7361, 2242, 7875, 9926, 9121, 9160, 9929, 9933, 4302, 2769, 9939, 3918, 8155, 8669, 3039, 8419, 739, 744, 3367, 6636, 5357, 8829, 7731, 5874, 545, 1782, 5615, 9654, 5371, 6910, 6101])

In [17]:
raw_df_14

,dataid,residents_under_5,residents_6_to_12,residents_13_to_18,residents_19_to_24,residents_25_to_34,residents_35_to_49,residents_50_to_64,education_level,total_annual_income,ceiling_fans_count
0,7321,NaN,NaN,NaN,NaN,NaN,NaN,2.0,College graduate,"""""""$300,000 - $1,000,000""""""",NaN
1,796,0.0,0.0,1.0,1.0,0,1.0,1.0,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",4.0
2,1086,0.0,0.0,0.0,0.0,0,0.0,1.0,Postgraduate degree,"""""""$50,000 - $74,999""""""",5.0
3,9605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,College graduate,NaN,0.0
4,1600,0.0,0.0,0.0,0.0,0,2.0,0.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",4.0
5,8185,0.0,0.0,1.0,0.0,0,0.0,1.0,Postgraduate degree,"""""""$50,000 - $74,999""""""",3.0
6,4228,NaN,NaN,2.0,NaN,NaN,NaN,1.0,College graduate,"""""""$50,000 - $74,999""""""",2.0
7,9916,1.0,NaN,NaN,NaN,1,1.0,NaN,College graduate,"""""""$75,000 - $99,999""""""",1.0
8,7900,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",NaN
9,3578,NaN,NaN,NaN,NaN,NaN,1.0,NaN,College graduate,NaN,2.0
10,9090,0.0,0.0,0.0,1.0,2,NaN,2.0,Postgraduate degree,"""""""$150,000 - $299,000""""""",3.0
11,9775,0.0,0.0,0.0,0.0,0,0.0,1.0,College graduate,"""""""$100,000 - $149,999""""""",2.0
12,4314,NaN,NaN,NaN,NaN,NaN,NaN,NaN,College graduate,"""""""$75,000 - $99,999""""""",5.0
13,1958,0.0,0.0,0.0,0.0,0,0.0,2.0,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",7.0
14,3500,NaN,NaN,1.0,NaN,NaN,NaN,2.0,College graduate,"""""""$150,000 - $299,000""""""",4.0
15,2149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",NaN
16,121,2.0,NaN,NaN,NaN,2,NaN,NaN,College graduate,NaN,NaN
17,5400,NaN,NaN,1.0,NaN,NaN,1.0,NaN,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",0.0
18,2461,NaN,NaN,NaN,NaN,NaN,NaN,2.0,College graduate,"""""""$50,000 - $74,999""""""",NaN
19,516,0.0,0.0,0.0,0.0,0,0.0,2.0,Postgraduate degree,"""""""$150,000 - $299,000""""""",0.0
20,3510,0.0,0.0,0.0,0.0,2,0.0,0.0,Postgraduate degree,"""""""$50,000 - $74,999""""""",1.0
21,9933,1.0,2.0,NaN,NaN,NaN,2.0,NaN,College graduate,"""""""$150,000 - $299,000""""""",5.0
22,3967,0.0,0.0,0.0,0.0,0,0.0,0.0,College graduate,"""""""$150,000 - $299,000""""""",6.0
23,3967,0.0,0.0,0.0,0.0,0,0.0,0.0,College graduate,"""""""$150,000 - $299,000""""""",8.0
24,1642,0.0,0.0,0.0,0.0,1,2.0,0.0,College graduate,NaN,5.0
25,985,0.0,0.0,0.0,1.0,1,0.0,0.0,College graduate,"""""""$35,000 - $49,999""""""",3.0
26,5403,0.0,NaN,0.0,0.0,0,0.0,0.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",5.0
27,6057,NaN,NaN,1.0,1.0,NaN,NaN,2.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",6.0
28,1309,NaN,NaN,NaN,NaN,NaN,NaN,2.0,Postgraduate degree,"""""""$150,000 - $299,000""""""",NaN
29,4944,2.0,1.0,NaN,NaN,NaN,1.0,1.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",NaN
...,...,...,...,...,...,...,...,...,...,...,...
303,8622,0.0,0.0,0.0,0.0,2,0.0,0.0,College graduate,"""""""$75,000 - $99,999""""""",0.0
304,2814,NaN,NaN,NaN,NaN,NaN,NaN,2.0,College graduate,"""""""$100,000 - $149,999""""""",4.0
305,1039,0.0,1.0,0.0,0.0,0,0.0,2.0,College graduate,"""""""$75,000 - $99,999""""""",4.0
306,3849,0.0,0.0,0.0,0.0,0,0.0,0.0,Postgraduate degree,"""""""$150,000 - $299,000""""""",3.0
307,2848,NaN,NaN,NaN,NaN,2,NaN,NaN,College graduate,"""""""$50,000 - $74,999""""""",NaN
308,2900,0.0,0.0,0.0,0.0,0,0.0,2.0,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",3.0
309,5109,0.0,NaN,NaN,NaN,NaN,0.0,0.0,Postgraduate degree,"""""""$300,000 - $1,000,000""""""",4.0
310,7113,0.0,0.0,0.0,1.0,0,0.0,2.0,College graduate,"""""""$150,000 - $299,000""""""",3.0
311,9932,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Postgraduate degree,"""""""$75,000 - $99,999""""""",7.0
312,2858,0.0,0.0,0.0,0.0,0,0.0,3.0,Some college/trade/vocational school,"""""""$35,000 - $49,999""""""",5.0
313,6420,0.0,0.0,0.0,0.0,0,2.0,0.0,College graduate,NaN,5.0
314,3104,NaN,NaN,NaN,NaN,1,1.0,NaN,Postgraduate degree,"""""""$150,000 - $299,000""""""",1.0
315,4297,0.0,0.0,0.0,0.0,0,1.0,1.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",5.0
316,4590,3.0,NaN,NaN,NaN,2,NaN,NaN,College graduate,"""""""$50,000 - $74,999""""""",5.0
317,2903,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Postgraduate degree,"""""""Less than $10,000""""""",2.0
318,941,1.0,1.0,0.0,0.0,2,0.0,0.0,College graduate,"""""""$100,000 - $149,999""""""",5.0
319,3555,1.0,0.0,0.0,0.0,2,0.0,0.0,College graduate,"""""""$50,000 - $74,999""""""",1.0
320,8731,0.0,0.0,0.0,0.0,0,0.0,1.0,Postgraduate degree,"""""""$75,000 - $99,999""""""",6.0
321,1035,NaN,NaN,NaN,NaN,2,NaN,NaN,College graduate,"""""""$100,000 - $149,999""""""",5.0
322,484,NaN,NaN,NaN,NaN,5 or more,NaN,NaN,Postgraduate degree,"""""""$50,000 - $74,999""""""",6.0
323,3741,0.0,0.0,2.0,NaN,NaN,1.0,NaN,Postgraduate degree,"""""""$100,000 - $149,999""""""",7.0
324,1499,1.0,1.0,0.0,2.0,0,0.0,3.0,Postgraduate degree,"""""""$150,000 - $299,000""""""",5.0
325,4304,NaN,NaN,NaN,NaN,NaN,NaN,1.0,College graduate,"""""""$100,000 - $149,999""""""",2.0
326,9699,0.0,0.0,0.0,0.0,0,0.0,0.0,Postgraduate degree,"""""""$35,000 - $49,999""""""",2.0
327,2322,NaN,NaN,NaN,NaN,NaN,NaN,2.0,College graduate,"""""""$150,000 - $299,000""""""",2.0
328,9729,1.0,1.0,0.0,0.0,0,2.0,0.0,Postgraduate degree,"""""""$100,000 - $149,999""""""",4.0
329,4342,0.0,1.0,0.0,0.0,0,2.0,0.0,College graduate,"""""""$75,000 - $99,999""""""",4.0
330,980,NaN,NaN,NaN,NaN,NaN,1.0,1.0,Some college/trade/vocational school,"""""""$50,000 - $74,999""""""",2.0
331,2532,NaN,NaN,NaN,NaN,NaN,2.0,NaN,Postgraduate degree,NaN,2.0
332,8292,0.0,0.0,0.0,0.0,1,2.0,0.0,College graduate,"""""""$150,000 - $299,000""""""",2.0

In [31]:
pd.DataFrame(raw_df_13).to_csv("../../active-energy/data/survey_2013_all_participants_new.csv")